---
import "../styles/framer.css";
import "../styles/tailwind.css";
import FramerMain from "../components/framer/FramerMain.astro";
import FramerScripts from "../components/framer/FramerScripts.astro";
---
<head>
    <meta charset="utf-8">


    <!-- Start of headStart -->

    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="QugY1aKjB3QVmGbzuZkWto4sLdznwdIVzEwQlKyDpb0">
    <link rel="canonical" href="/assets/external/www.hiso33.casino/">
    <!-- End of headStart -->
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="Framer 401032d">
    <title>Hiso33 - The Best Online Casino in Singapore</title>
    <meta name="description" content="Experience the thrill of online gambling at Hiso33. Explore our wide selection of casino games today to win rewards!
">
    <meta name="framer-search-index"
          content="https://framerusercontent.com/sites/7nqkJjvagxLg5k4IsOvjkx/searchIndex-RfxNIUFhppl-.json">
    <link href="/assets/external/framerusercontent.com/images/HYpBQ5T5bxLKgGkHZXruf6Y8DPU.png" rel="icon"
          media="(prefers-color-scheme: light)">
    <link href="/assets/external/framerusercontent.com/images/HYpBQ5T5bxLKgGkHZXruf6Y8DPU.png" rel="icon"
          media="(prefers-color-scheme: dark)">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hiso33 - The Best Online Casino in Singapore">
    <meta property="og:description" content="Experience the thrill of online gambling at Hiso33. Explore our wide selection of casino games today to win rewards!
">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hiso33 - The Best Online Casino in Singapore">
    <meta name="twitter:description" content="Experience the thrill of online gambling at Hiso33. Explore our wide selection of casino games today to win rewards!
">

    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <meta name="robots" content="max-image-preview:large"><!-- Start of headEnd -->

    <!-- End of headEnd -->
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '728273773302914');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=728273773302914&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body class="framer-body-augiA20Il-framer-qh6S5">
  <FramerMain />
  <FramerScripts />
</body>
